@page "/clientes"
@using Garagem75.Shared.Dtos
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject ClienteApi Api
@inject NavigationManager Nav

<h3>Clientes</h3>

<button class="fab" @onclick="Novo">+</button>

@if (loading)
{
    <p>Carregando...</p>
}
else if (clientes?.Count == 0)
{
    <p>Nenhum cliente cadastrado</p>
}
else
{
    @foreach (var c in clientes)
    {
        <div class="card card-click" @onclick="() => VerDetalhe(c.Id)">
            <div>
                <strong>@c.Nome</strong>
                <p>@c.Telefone</p>
            </div>

            <div class="acoes">
                <button @onclick:stopPropagation="true" @onclick="() => Editar(c.Id)">✏️</button>
                <button @onclick:stopPropagation="true" @onclick="() => AbrirModal(c.Id)">🗑️</button>
            </div>
        </div>
    }
}

@if (mostrarModal)
{
    <div class="modal fade show" style="display:block; background:rgba(0,0,0,0.5)">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Confirmar exclusão</h5>
                </div>

                <div class="modal-body">
                    Deseja excluir este cliente?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="FecharModal">Cancelar</button>
                    <button class="btn btn-danger" @onclick="ExcluirConfirmado">Excluir</button>
                </div>

            </div>
        </div>
    </div>
}

@code {
    List<ClienteDto>? clientes;
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        clientes = await Api.GetAll();
        loading = false;
    }

    void Novo() => Nav.NavigateTo("/clientes/novo");
    void Editar(int id) => Nav.NavigateTo($"/clientes/{id}");
    async Task Excluir(int id)
    {
        await Api.Delete(id);
        clientes = await Api.GetAll();
    }

    async Task ConfirmarExclusao(int id)
    {
        if (await JS.InvokeAsync<bool>("confirm", "Deseja excluir este cliente?"))
        {
            await Api.Delete(id);
            clientes = await Api.GetAll();
        }
    }

    bool mostrarModal = false;
    int idSelecionado;

    void AbrirModal(int id)
    {
        idSelecionado = id;
        mostrarModal = true;
    }

    void FecharModal()
    {
        mostrarModal = false;
    }

    async Task ExcluirConfirmado()
    {
        await Api.Delete(idSelecionado);
        clientes = await Api.GetAll();
        mostrarModal = false;
    }

    void VerDetalhe(int id)
    {
        Nav.NavigateTo($"/clientes/{id}/detalhe");
    }
}